body {
    background-image: url(./imagens/background.jpg);
    inset: 0;
    width: 100%;
    height: 100%;
}
h3 {
    color: red;
}

p{
    color:white;
}
.video {
    width: 100%;
    height: 400px;
  }
